name: .NET Core

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    strategy:
      matrix:
        os: [ ubuntu-latest, windows-latest, macos-latest ]
        dotnet-version: [ '8.0.x', '9.0.x', '10.0.x' ]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v3
      - name: Setup .NET
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: ${{ matrix.dotnet-version }}
      - name: Build with dotnet
        run: dotnet build -c Release
      - name: Run tests with coverage
        run: |
          cd ./src/Hexecs.Tests/
          dotnet test -c Release --no-build /p:CollectCoverage=true /p:CoverletOutput=TestResults/ /p:CoverletOutputFormat=opencover /p:Exclude="[*Tests*]*|[*Benchmarks*]*|[*Demo*]*
      - name: Publish coverage report
        if: matrix.os == 'ubuntu-latest' && matrix.dotnet-version == '10.0.x'
        uses: codecov/codecov-action@v3
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
